<section class="pb-0">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6">
        <a [routerLink]="'/admin/clientes'">
          <div class="collection-banner p-right text-center">
            <img [src]="'assets/images/clientes.png'" class="img-fluid" alt="">
            <div class="contain-banner">
              <div>
                <!-- <h4>{{ct.save}}</h4> -->
                <h2>Clientes</h2>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a [routerLink]="'/admin/pedidos'">
          <div class="collection-banner p-right text-center">
            <img [src]="'assets/images/pedidos.jpg'" class="img-fluid" alt="">
            <div class="contain-banner">
              <div>
                <!-- <h4>{{ct.save}}</h4> -->
                <!-- <h2>Pedidos</h2> -->
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a [routerLink]="'/admin/productos'">
          <div class="collection-banner p-right text-center">
            <img [src]="'assets/images/sub-banner1.jpg'" class="img-fluid" alt="">
            <div class="contain-banner">
              <div>
                <!-- <h4>{{ct.save}}</h4> -->
                <h2>Productos</h2>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a [routerLink]="'/admin/varios'">
          <div class="collection-banner p-right text-center">
            <img [src]="'assets/images/varios.png'" class="img-fluid" alt="">
            <div class="contain-banner">
              <div>
                <!-- <h4>{{ct.save}}</h4> -->
                <!-- <h2>Varios</h2> -->
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>