<div class="row">
  <div class="col-md-6">


    <div class="modal-header">
      <h4 class="modal-title pull-left">Tipos</h4>
    </div>
    <div class="modal-body">

      <!-- <nb-card>
      <nb-card-header>
        Tipos
      </nb-card-header>
      <nb-card-body> -->
      <ngx-tipos>
      </ngx-tipos>
      <!-- </nb-card-body>
    </nb-card> -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Marcas</h4>
    </div>
    <div class="modal-body">
      <!-- <nb-card>
      <nb-card-header>
        Marcas
      </nb-card-header>
      <nb-card-body> -->

      <ngx-marcas>
      </ngx-marcas>
      <!-- </nb-card-body>
    </nb-card> -->
    </div>
  </div>
</div>